body,* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 2rem;
  color: #444;
  font-family: sans-serif;
  font-size: 18px;
  background: #efefff;
}

h1 {
  margin-bottom: 1em;
}

h2 {
  margin-bottom: 0.5em;
}

#test {
  border: 2px solid #efccff;
  border-radius: 4px;
  background: #fff;
  padding: 1em;
}